* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'roboto', sans-serif
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


main {
  display: flex;
  height: calc(100vh - 100px);
}

footer {
  height: 100px;
  background-color: rgb(40, 40, 40);
}


#sidebar {
  width: 250px;
  height: 100%;
  background-color: black;
}

#content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: aqua;
}

#topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: rgb(44, 60, 97);
  padding: 15px;
}

.cta{
  color: white;
  height: 40px;
  padding: 0px 15px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50px;
  line-height: 40px;
}
 

 
  