* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px 0px;
}

h2,
h3 {
  color: white;
}
h4{
  color:rgb(125, 127, 132) ;
}

a {
  text-decoration: none;
  color: rgb(125, 127, 132);
}

#main-content a {
  text-transform: uppercase;
  color: rgb(125, 127, 132);
}

h3 {
  text-transform: uppercase;
}

main {
  display: flex;
  height: calc(100vh - 100px);
}

footer {
  height: 100px;
  background-color: rgb(40, 40, 40);
}


#sidebar {
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  overflow-y: auto;
}


#content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: rgb(20, 25, 34);
}


#topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: rgb(8, 11, 18);
  padding: 15px;
}

#main-content {
  overflow-y: auto;
  padding: 20px;
  height: 1000px;
}

/***************UTILITIES********************/

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.mt-20 {
  margin-top: 20px;
}









/*****************CONTENT*********************/
/******top-bar******/
.cta {
  color: white;
  height: 40px;
  padding: 0px 15px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50px;
  line-height: 40px;
}

/******side-bar******/

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.side-bar nav img {
  width: 30px;
}

li a img {

  height: 40px;
}

li a span {
  line-height: 40px;
}


i {
  font-size: 40px;
}

li a img,
li a span,
i {
  vertical-align: middle;
}

/*************MAIN-CONTENT*************/
/******6 columns******/
#main-content li {
  font-size: 14px;
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col-16 {
  width: calc(100% / 6 - 10px);
}

#main-content img{
  width: 100%;
}

/*****************DEBUG**********************/
.green-box {
  background-color: greenyellow;
  height: 400px;
}