* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px 0px;
}


a {
  text-decoration: none;
  color: white;
}

h3 {
  text-transform: uppercase;
}

main {
  display: flex;
  height: calc(100vh - 100px);
}

footer {
  height: 100px;
  background-color: rgb(40, 40, 40);
}


#sidebar {
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  padding: 15px;
}


#content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: aqua;
}

#topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: rgb(44, 60, 97);
  padding: 15px;
}

/***************UTILITIES********************/

.mt-20 {
  margin-top: 20px;
}










/*****************CONTENT*********************/
/******top-bar******/
.cta {
  color: white;
  height: 40px;
  padding: 0px 15px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50px;
  line-height: 40px;
}

/******side-bar******/

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.side-bar nav img {
  width: 30px;
}

li a img {

  height: 40px;
}

li a span {
  line-height: 40px;
}


i {
  font-size: 40px;
}

li a img,
li a span,
i {
  vertical-align: middle;
}